@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  background-color: black;
}

h1{
  background-color: black;
  font-family: Roboto;
}

.accordion-body{
  background-color: black;
  font-family: Roboto;
  color: rgb(89, 0, 255);
  padding: 5vh 5vw;
}

.accordion {
  background-color: black;
}

.accordion .container {
  position: relative;
  margin: 10px 10px;
}

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: rgb(89, 0, 255);
  cursor: pointer;
}

.accordion .label::before {
  content: '+';
  color: rgb(89, 0, 255);
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  background: black;
  height: 0;
  font-size: 20px;
  text-align: justify;
  overflow: hidden;
  transition: 0.5s;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 0.5px solid rgb(89, 0, 255);
}

.accordion .container.active .content {
  height: 150px;
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 30px;
}