@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1{
  font-family: Roboto;
}

.accordion-body{
  width: auto;
  background-color: black;
  font-family: Roboto;
}

.accordion {
  width: auto;
  color: rgb(124, 91, 255);
  background-color: rgb(255, 255, 255);
  padding: 40px 100px;
}

.accordion .container {
  position: relative;
  margin: 10px 10px;
}

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: rgb(124, 91, 255);
  cursor: pointer;
}

.accordion .label::before {
  content: '$';
  color: rgb(124, 91, 255);
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 70vw;
  overflow: hidden;
  transition: 0.5s;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 0.5px solid rgb(124, 91, 255);
}

.accordion .container.active .content {
  height: 150px;
}

.accordion .container.active .label::before {
  content: '???';
  font-size: 30px;
}