@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Ubuntu+Mono&display=swap');

:root{
  --main-color: rgb(101, 77, 255);
}

body{
  background-color: rgb(2, 2, 2);
  font-family: Roboto Mono, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--main-color);
  padding: 5vh 5vw;
  @media(min-width: 800px){
    width: 814px
  }
}

hr{
  border-color: var(--main-color);
  margin: 40px 0px;
}

h1{
  font-size: 40px;
  font-family: Roboto Mono, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--main-color);
}

h2{
  font-size: 24px;
}

h3{
  font-size: 18px;
}

pre code{
  background-color: rgb(22, 0, 63);
  border: 0.5px solid var(--main-color);
  display:block;
  font-size: 16px;
  overflow-x: scroll;
  margin: 0px 30px;
  padding: 20px;
}

.textbox {
  background-color: rgb(22, 0, 63);
  border: 0.5px solid var(--main-color);
  display:block;
  font-size: 16px;
  white-space: pre-wrap;
  word-wrap: normal;
  margin: 0px 0px;
  padding: 0px 20px;
}

.accordion {
  /*@media(min-width: 899px){*/
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  /*}*/
  border: 0.5px solid var(--main-color);
  max-width: 814px;
}

.accordion .container {
  border: 0.5px solid var(--main-color);
  flex-grow: 1;
  flex-basis: 250px;
  flex-direction: column;
  position: relative;
  margin: 10px 10px;
}

.accordion .label {
  border: 0.5px solid var(--main-color);
  position: relative;
  padding: 10px 10px;
  font-size: 20px;
  color: var(--main-color);
  cursor: pointer;
}

.accordion .label:hover {
  background-color: rgb(22, 0, 63);
}

.accordion .label::before {
  content: '+';
  color: var(--main-color);
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  content-visibility: hidden;
  padding: 10px 10px;
  height: 0em;
  font-size: 18px;
  text-align: left;
  overflow: hidden;
  transition: 0.5s;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 0.5px solid var(--main-color);
}

.accordion .container.active .content {
  height: 6em;
  content-visibility: visible;
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 30px;
}

.demos{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  @media(max-width: 800px){
    justify-content: center;
  }
}

.demoboxes{
  position: relative;
  @media(max-width:371px){
    height: 6em;
    width: 6em;
  }
  height: 8em;
  width: 8em;
  border: 0.5px solid var(--main-color);
  margin: 10px 10px;
}

.box{
  border: 0.5px solid var(--main-color);
  box-sizing: border-box;
  @media(max-width:371px){
    height: 1.5em;
    width: 1.5em;
  }
  height: 2em;
  width: 2em;
}

.purple{
  background-color: rgb(109, 56, 207);
}

.teal{
  background-color: rgb(0, 180, 159);
}

.orange{
  background-color: rgb(218, 138, 39);
}

.green{
  background-color: rgb(97, 173, 21);
}

.relbox{
  position: relative;
  top: 10px;
  left: 10px;
}

.absbox{
  right: 10px;
  position: absolute;
}

.fixbox{
  top:40px;
  right:10%;
  position: fixed;
}

.demotext{
  width: 50vw;
  @media(max-width: 800px){
    width:40vw;
  }
  @media(max-width:400px){
    font-size:12px;
  }
  font-size: 14px;
  margin: 10px 10px;
}

a:link{
  text-decoration: none;
  color: inherit;
}

a:visited{
  text-decoration: none;
  color: inherit;
}

a:active{
  text-decoration: none;
  color: inherit;
}

a:hover{
  background-color: rgb(22, 0, 63);
}

button:hover{
  background-color: rgb(22, 0, 63);
}

.goback{
  font-size: 18px;
  position: absolute;
  color: var(--main-color);
  top: 5px;
  left: 5px;
}